* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

body {
    font-family: 'Open Sans', sans-serif;
    min-width: 1200px;
}

.left {
    float: left;
}

.right {
    float: right;
}

/* header sticky*/
header {
    position: relative;
    background-color: #B4D0E7;
    z-index: 0;
}

.sticky {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    background-color: white;
    z-index: 1000;
}

nav, .logo {
    line-height: 80px;
}

.logo img {
    vertical-align: middle;
    padding: 0 20px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    padding: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.inizia {
    line-height: 80px;
    display: inline-block;
    padding: 0 20px;
}

.inizia a {
    text-decoration: none;
    color: white;
    background-color: #0061FF;
    padding: 5px 20px;
}

/* header */
.container-header {
    width: 85%;
    margin: 80px auto;
}

.jumbotron h1 {
    font-size: 90px;
    padding-top: 100px;
}

.jumbo-text {
    width: 33%;
    padding: 40px 60px 0 0;
}

.jumbo-text p {
    font-size: 17px;
    font-weight: 600;
    padding-bottom: 30px;
}

.jumbo-text a {
    font-size: 19px;
    padding: 10px 25px;
    background-color: #0061FF;
    color: white;
    text-decoration: none;
}

.jumbo-text span {
    display: block;
    padding: 20px 0;
    font-size: 15px;
}

.jumbo-text .arrow {
    font-size: 50px;
    font-weight: 900;
}

.jumbo-image {
    width: 62%;
    padding-top: 40px;
}

.jumbo-image img {
    width: 100%;
    height: 100%; 
    object-fit: cover;
    z-index: 0;
}

.haeder-down {
    width: 100%;
    background-color: white;
    height: 80px;
    position: absolute;
    bottom: 0;
    z-index: -1;
}

/* main */
.container{
    width: 65%;
    margin: 0 auto;
}

.container h2 {
    font-size: 45px;
    padding: 35px 0;
}

.container .radio {
    padding: 20px 0;
}

.container .radio label{
    padding-right:20px;
}

/* section */
.card {
    width: calc(33% - 40px);
    border: 1px solid #d7d7d7;
    z-index: 0;
    height: 1200px;
}

.card .profilo {
    border-bottom: 1px solid #d7d7d7;
    text-align: center;
    line-height: 40px;
}

.mini-container {
    width: 80%;
    margin: 30px auto;
    margin-bottom: 200px;
}

.mini-container span {
    display: block;
    padding: 15px 0;
}

.mini-container .btn {
    width: 100%;
    line-height: 35px;
    background-color: #0061FF;
    text-align: center;
}

.mini-container .btn a {
    color: white;
    text-decoration: none;
}

.mini-container a {
    text-decoration: none;
    color: #0061FF;
}

.mini-container .line {
    display: inline-block;
    padding-bottom: 30px;
    border-bottom: 1px solid #d7d7d7;
}

.mini-container h3 {
    font-size: 30px;
    padding: 20px 0;
}

.mini-container h4{
    padding: 20px 0;
}

.center {
    margin: 0 60px;
}